<!doctype html>
{% load static from staticfiles %}

<html>
	<head>
		Home Page
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	</head>
	<body background="{% static 'images/ceystalhorizon.png' %}">
	<div class="frontpage">
		<h1>GRIFFIN CLEVERLY</h1>
		<a href="https://gcleverly.github.io/projects.html">PROJECTS |</a> 
		<a href="https://gcleverly.github.io/About.html">ABOUT ME |</a> 
		<a href="https://gcleverly.github.io/Titanic">CONTACT</a>
	</div>
	<footer>

	</footer>
</body>
</html>