{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

        <!-- Blog Post -->

        <!-- Title -->
        <h1>{{ post.title }}</h1>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date }}</p>

        <hr>

        <!-- Post Content -->
        <p class="lead">
            {{ post.body_html|safe }}
        </p>


        <hr>

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Blog Categories Well -->
        <div class="well">
            <h4>Blog Tags</h4>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        <li><a href="#">Python</a>
                        </li>
                        <li><a href="#">Data</a>
                        </li>
                        <li><a href="#">Django</a>
                        </li>
                        <li><a href="#">Category Name</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        <li><a href="#">Category Name</a>
                            <a href="https://www.codewars.com/users/gcleverly"><img src="{% static 'images/codewars.jpeg' %}" alt="CodeWars" class="social-icon"></a>
                        </li>
                        <li><a href="#">Category Name</a>
                            <a href="http://linkedin.com"><img src="{% static 'images/linkedin-512.png' %}" alt="LinkedIn Logo" class="social-icon"></a>
                        </li>
                        <li><a href="#">Category Name</a>
                                                    <a href="http://facebook.com"><img src="{% static 'images/mail.png' %}" alt="E-Mail" class="social-icon"></a>
                        </li>
                        <li><a href="#">Category Name</a>
                            <a href="http://github.com"><img src="{% static 'images/Github-Mark.png' %}" alt="Github" class="social-icon"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>

        <!-- Side Widget Well -->
        <div class="well">
            <h4>Social</h4>
            <ul class="list-unstyled">
                <li><a href="#">Category Name</a>
                    <a href="https://www.codewars.com/users/gcleverly"><img src="{% static 'images/codewars.jpeg' %}" alt="CodeWars" class="social-icon"></a>
                </li>
                <li><a href="#">Category Name</a>
                    <a href="http://linkedin.com"><img src="{% static 'images/linkedin-512.png' %}" alt="LinkedIn Logo" class="social-icon"></a>
                </li>
                <li><a href="#">Category Name</a>
                    <a href="http://facebook.com"><img src="{% static 'images/mail.png' %}" alt="E-Mail" class="social-icon"></a>
                </li>
                <li><a href="#">Category Name</a>
                    <a href="http://github.com"><img src="{% static 'images/Github-Mark.png' %}" alt="Github" class="social-icon"></a>
                </li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
        </div>

    </div>

{% endblock %}