{% extends "layout.html" %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
<header class='page-header'>
<h2>Blog Posts</h2>
<h5>Detailing the various programming hurdles I've had to deal with</h5>
</header>
<div class="container">
    <div class="row">
            {% for post in posts %}
                <article>
                    <dt><a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title }} - {{ post.date }}</a></dt>
                    <dd>{{ post.subject }}</dd>
                </article>
                </br>
            {% endfor %}
    </div>
</div>

{% endblock %}