{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}About Me{% endblock %}


{% block content %}
<header class='page-header'>
<h2>About Me</h2>

</header>

<h1 align="center">Griffin Cleverly</h1>
<p align="center">
	<img src="{% static 'images/me.jpg' %}" ALT="ME" WIDTH=200 HEIGHT=250>
</p>
<p align="center">
	Hi! My name is Griffin Cleverly. I'm an engineer turned Data Analyst/Scientist living in Southern California. I'm passionate about using data to inform and influence. 
</p>


This will be the about me section where I'll detail my background







{% endblock content %}


