{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}About Me{% endblock %}


{% block content %}

<h1 align="center">Griffin Cleverly</h1>
<p align="center">
	<img src="{% static 'images/me.jpg' %}" ALT="ME" WIDTH=200 HEIGHT=250>
</p>
<p align="center">
	Hi! My name is Griffin Cleverly. I'm an engineer turned Data Analyst/Scientist living in Southern California. I'm passionate about using data to inform and influence. 
</p>
<p align="center" class="view"><a href="https://github.com/gcleverly">View My GitHub Profile</a></p>
<p align="center" class="view"><a href="https://gcleverly.github.io/ProjectPart">Click here to view more projects</a></p>








This will be the about me section where I'll detail my background







{% endblock content %}


