{% extends "layout.html" %}
{% load static from staticfiles %}
{% block title %}Contact Me{% endblock %}


{% block content %}

<header class='page-header'>

<h2>Let's get in touch</h2>

</header>
<p>You can contact me through the following:</p>
	<ul><a href="mailto:gtcleverly@gmail.com?Subject=Web%20Site%20Hello"><i class="fa fa-envelope fa-lg"></i> E-mail</a></ul>
	<ul><a href="https://github.com/gcleverly"><i class="fa fa-github fa-lg"></i> Github Profile</a></ul>
	<ul><a href="https://linkedin.com/in/griffincleverly"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn Profile</a></ul>
</p>









{% endblock content %}


