<!doctype html>
{% load static from staticfiles %}

<html>
	<head>
		<title>Griffin Cleverly's Website</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	</head>
	<body background="{% static 'images/ceystalhorizon.png' %}">
			
	<div class="frontpage">
		<h1>GRIFFIN CLEVERLY</h1>
		<span><a href="{% url 'projects:list' %}">PROJECTS</a> | </span>
		<span><a href="{% url 'about_me' %}">ABOUT ME</a> | </span>
		<span><a href="{% url 'contact' %}">CONTACT</a></span>
	</div>
	<footer>

	</footer>
</body>
</html>